<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bigmarbz.overwatch">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/owcustomicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".heroes" />
        <activity android:name=".intro" />
        <activity android:name=".competitive" />
        <activity android:name=".lore" />
        <activity android:name=".tiers" />
        <activity android:name=".aboutapp" />
        <activity android:name=".maps" />
        <activity android:name=".analore" />
        <activity android:name=".bastionlore" />
        <activity android:name=".genjilore" />
        <activity android:name=".dvalore" />
        <activity android:name=".hanzolore" />
        <activity android:name=".junkratlore" />
        <activity android:name=".luciolore" />
        <activity android:name=".roadhoglore" />
        <activity android:name=".mccreelore" />
        <activity android:name=".meilore" />
        <activity android:name=".mercylore" />
        <activity android:name=".torbjornlore" />
        <activity android:name=".reinhardtlore" />
        <activity android:name=".pharahlore" />
        <activity android:name=".sombralore" />
        <activity android:name=".reaperlore" />
        <activity android:name=".soldierlore" />
        <activity android:name=".symmetralore" />
        <activity android:name=".winstonlore" />
        <activity android:name=".tracerlore" />
        <activity android:name=".zenyattalore" />
        <activity android:name=".zaryalore" />
        <activity android:name=".widowmakerlore" />
        <activity android:name=".ana" />
        <activity android:name=".bastion" />
        <activity android:name=".genji" />
        <activity android:name=".mccree" />
        <activity android:name=".dva" />
        <activity android:name=".pharah" />
        <activity android:name=".reaper" />
        <activity android:name=".soldier" />
        <activity android:name=".sombra" />
        <activity android:name=".tracer" />
        <activity android:name=".hanzo" />
        <activity android:name=".junkrat" />
        <activity android:name=".widowmaker" />
        <activity android:name=".mei" />
        <activity android:name=".torbjorn" />
        <activity android:name=".reinhardt" />
        <activity android:name=".roadhog" />
        <activity android:name=".zarya" />
        <activity android:name=".winston" />
        <activity android:name=".lucio" />
        <activity android:name=".mercy" />
        <activity android:name=".symmetra" />
        <activity android:name=".zenyatta" />
        <activity android:name=".youtube" />
        <activity android:name=".search" />
        <activity android:name=".professionals" />
        <activity android:name=".streamers" />
        <activity android:name=".guides" />
        <activity android:name=".montages" />
        <activity android:name=".dorado" />
        <activity android:name=".eichenwalde" />
        <activity android:name=".hanamura" />
        <activity android:name=".hollywood" />
        <activity android:name=".ilios" />
        <activity android:name=".lijiangtower" />
        <activity android:name=".kingsrow" />
        <activity android:name=".nepal" />
        <activity android:name=".numbani" />
        <activity android:name=".templeofanubis" />
        <activity android:name=".route66" />
        <activity android:name=".volskayaindustries" />
        <activity android:name=".watchpointgibraltar" />
        <activity android:name=".oasis"></activity>
    </application>

</manifest>